footer {
  background: var(--dark-gradient);
  padding: 20px 10px;
}

footer a {
  color: var(--text-color-light);
  font-size: 16px;
  transition: color 0.3s;
  text-decoration: none;
}

footer a:hover {
  color: var(--secondary-color);
}