@{
    ViewData["Title"] = "Home Page";
}

<div class="hero" style="background: linear-gradient(145deg, rgba(0,102,255,0.5), rgba(0,204,102,0.5)), url('/images/hero-bg.jpg'); background-size: cover; color: white; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); padding: 60px; text-align: center;">
    <h1 class="display-3">Welcome to ProfsMarkov Hub</h1>
    <p>Your hub for AI tools, tech insights, and innovation.</p>
</div>

<div class="latest-blog container mt-5">
    <h2 class="text-center">Latest from Blog</h2>
    <div class="row text-center mt-4">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/images/blog-placeholder1.jpg" alt="Blog Post 1">
                <div class="card-body">
                    <h5 class="card-title">Blog Post Title 1</h5>
                    <p class="card-text">A brief description of the blog post goes here...</p>
                    <a href="/Blog/Details/1" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/images/blog-placeholder2.jpg" alt="Blog Post 2">
                <div class="card-body">
                    <h5 class="card-title">Blog Post Title 2</h5>
                    <p class="card-text">A brief description of the blog post goes here...</p>
                    <a href="/Blog/Details/2" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/images/blog-placeholder3.jpg" alt="Blog Post 3">
                <div class="card-body">
                    <h5 class="card-title">Blog Post Title 3</h5>
                    <p class="card-text">A brief description of the blog post goes here...</p>
                    <a href="/Blog/Details/3" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
